@import "tailwindcss";

@theme{
    --color-white: #ffffff;
    --color-black: #000000;
    --color-green-800: #24554A;
    --color-green-600: #3E7467;
    --color-green-500: #458D7E;
    --color-green-300: #90D4C6;

    --color-grey-950: #24303E;
    --color-grey-600: #5B636D;
    --color-grey-550: #808397;
    --color-grey-400: #A7AAAD;

    --color-blue-950: #052C3B;
    --color-blues-800: #19536C;
    --color-red-400: #FE7766;
    --color-yellow-500: #FAD400;

    --breakpoint-sx: 23.5rem;
}

    @utility text-preset-1{
        font-family: "Fraunces", serif;
        font-size: 56px;
        line-height: 125%;
        letter-spacing: 9px;
    }

    @utility text-preset-2{
        font-family: "Fraunces", serif;
        font-size: 42px;
        line-height: 125%;
        letter-spacing: 6px;
    }

    @utility text-preset-3{
        font-family: "Fraunces", serif;
        font-size: 40px;
        line-height: 125%;
        letter-spacing: 0px;
    }

    @utility text-preset-4{
        font-family: "Fraunces", serif;
        font-size: 32px;
        line-height: 125%;
        letter-spacing: 0px;
    }

    @utility text-preset-5{
        font-family: "Fraunces", serif;
        font-size: 28px;
        line-height: 125%;
        letter-spacing: 0px;
    }

    @utility text-preset-6{
        font-family: "Fraunces", serif;
        font-size: 20px;
        line-height: 125%;
        letter-spacing: 4px;
    }

    @utility text-preset-7{
        font-family: "Fraunces", serif;
        font-size: 18px;
        line-height: 125%;
        letter-spacing: 0px;
    }

    @utility text-preset-8{
        font-family: "Fraunces", serif;
        font-size: 15px;
        line-height: 165%;
        letter-spacing: 1px;
    }

    @utility text-preset-9{
        font-family: "Barlow", sans-serif;
        font-size: 20px;
        font-weight: 600;
        line-height: 125%;
        letter-spacing: 0px;
    }

   @utility text-preset-10{
        font-family: "Barlow", sans-serif;
        font-size: 18px;
        font-weight: 600;
        line-height: 165%;
        letter-spacing: 0px;
    }

  @utility text-preset-11{
        font-family: "Barlow", sans-serif;
        font-size: 16px;
        font-weight: 600;
        line-height: 170%;
        letter-spacing: 0px;
    }

   @utility text-preset-12{
        font-family: "Barlow", sans-serif;
        font-size: 14px;
        font-weight: 600;
        line-height: 180%;
        letter-spacing: 0px;
    }

@layer utilities{
    .text-hero-responsive {
        @apply text-preset-2;
        width: 100%;
    }

    @media (375px < width) {
        .text-hero-responsive {
            @apply text-preset-1;
            width: 95%;
        }
    }

    @media (375px < width < 490px){
        .text-hero-responsive {
            font-size: clamp(2.625rem, -0.2283rem + 12.1739vw, 3.5rem);
        }
    }

    @media (768px < width){
        .text-hero-responsive{
            width: 100%;
        }
    }

    .hero-top-position{
        top: 136px;
    }

    @media (375px < width) {
        .hero-top-position{
            top: 153px;
        }
    }

    @media (768px < width){
        .hero-top-position{
            top: 184px;
        }
    }

    .footer-link{
        @apply hover:text-white transition ease-in-out duration-400;
    }
}

@layer components{
    .page-width{
        width: min(1440px, 100%);
        margin-inline: auto;
    }

    .transitions-menu{
        transition: all 599ms ease-in-out;
    }

    .testimonials-width{
        width: min(1114px, 100%);
        margin-inline: auto;
    }

    .grid-title{
        @apply text-preset-4
    }

    @media (375px < width){
        .grid-title{
            @apply text-preset-3;
        }
    }

    .grid-link::after{
        content: "";
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 3px;
        width: 100%;
        height: 10px;
        border-radius: 28px;
        border: none;
        z-index: -1;
        opacity: 25%;
        transition: opacity 450ms ease-in-out;
    }

    .grid-link:hover::after{
        opacity: 100%;
    }

    .grid-link--yellow::after{
        background: var( --color-yellow-500);
    }

    .grid-link--red::after{
        background: var( --color-red-400);
    }
    

    
}