@import "tailwindcss";

@theme{
    --color-white: #ffffff;
    --color-black: #000000;
    --color-green-800: #24554A;
    --color-green-600: #3E7467;
    --color-green-500: #458D7E;
    --color-green-300: #90D4C6;

    --color-grey-950: #24303E;
    --color-grey-600: #5B636D;
    --color-grey-550: #808397;
    --color-grey-400: #A7AAAD;

    --color-blue-950: #052C3B;
    --color-blues-800: #19536C;
    --color-red-400: #FE7766;
    --color-yellow-500: #FAD400;

    --breakpoint-sx: 24rem;
}

@layer utilities {
    .text-preset-1{
        font-family: "Fraunces", serif;
        font-size: 56px;
        line-height: 125%;
        letter-spacing: 9px;
    }

     .text-preset-2{
        font-family: "Fraunces", serif;
        font-size: 42px;
        line-height: 125%;
        letter-spacing: 6px;
    }

    .text-hero-responsive {
        font-family: "Fraunces", serif;
        font-size: 42px;
        line-height: 125%;
        letter-spacing: 6px;
    }

    @media (min-width: 375px) {
        .text-hero-responsive {
            font-size: 56px;
            letter-spacing: 9px;
        }
    }

    @media (768px < width <  1400px){
        .text-hero-responsive {
            font-size: clamp(2.625rem, 1.5586rem + 2.2187vw, 3.5rem);
        }
    }

    .text-preset-8{
        font-family: "Fraunces", serif;
        font-size: 15px;
        line-height: 165%;
        letter-spacing: 1px;
    }

    .text-preset-10{
        font-family: "Barlow", sans-serif;
        font-size: 18px;
        line-height: 165%;
        letter-spacing: 0px;
    }

    .hero-top-position{
        top: 184px;
    }

    @media (768px < width <  1400px){
        .hero-top-position{
            top: clamp(6.25rem, -0.1482rem + 13.3122vw, 11.5rem);
            gap: clamp(0.625rem, -5.9255rem + 13.6292vw, 6rem);
        }
    }

    @media (768px < width <  1400px){
        .hero-arrow-height{
            height: clamp(5.9375rem, 4.4903rem + 3.0111vw, 7.125rem);
        }
    }

}

@layer components{
    .page-width{
        width: min(1440px, 100%);
        margin-inline: auto;
    }
    .transitions-menu{
        transition: all 599ms ease-in-out;
    }
}